.insnumeri{
  justify-content: space-between;
}

.insnumeri input{
  width: 60px;
}

.btn{
  justify-content: center;
}

.col-12{ 
  justify-content: center;
}

#display{
  font-size: 2rem;
  font-weight: bold;
}

#selezrndm{
  font-size: 2rem;
  font-weight: bold;
}

.caselle{
  justify-content: center; 
}






