.insnumeri{
  justify-content: space-between;
}

.btn{
  justify-content: center;
}

.col-12{ 
  justify-content: center;
}

#display{
  font-size: 2rem;
  font-weight: bold;
}

#selezrndm{
  font-size: 2rem;
  font-weight: bold;
}

.caselle{
  justify-content: center;
  flex-wrap: wrap; 
}

.caselle input{
  width: 60px;
  margin: 0 20 0 20;
}








